@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
{% load static %}

:root {
	--main: #e8a87c;
	--maindark: #B57549;

	--blog: #85dcbf;
	--blogdark: #52A98C;

	--dark: #2c3840;
	--darkdark: #00050D;

	--light: #feffff;
	--lightdark: #CBCCCC;
	
	--highlight: #ffe29d;
	--highlightdark: #ffcb51;

	--info: #D8EDF7;
	
	--danger: #F3DDDE;
}

/*uncomment this line for debugging*/
/*{ outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); }*/

html {
	height:100%;
}

#loadingicon {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background: url('willcarhartloading.svg') no-repeat center center;
	background-color: rgba(0,0,0,0);
}

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: var(--dark);
}
#content {
	padding-top: 4rem;
}
.narrow {
	width: 75%;
	margin: 0 auto;
}

/*-- navigation --*/
.navbar {
	z-index: 9999;
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	background-color: rgba(0, 0, 0, 0.7);
}
.navbar-brand {
	color: var(--light);
}
.svg-inline--fa.fa-w-14 {
	color: var(--light);
	font-size: 1.6rem;
}
.navbar-nav li {
	padding-right: .8rem;
}
.navbar-nav .nav-link {
	color: var(--light);
	padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: var(--blog);
}
.navbar-brand:hover {
	color: var(--main);
}
/*-- end navigation --*/

/*-- landing --*/
#landing {
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: url('img/footer.png');
	background-color: rgb(0, 0, 0, 0.2);
	height: 150%;
	z-index: -1;
}
/*-- end landing --*/

/*-- blog container, index --*/
.blog-container h1 {
	padding: 2rem 0;
}
.blog-item {
	padding-bottom: 1rem;
}
.card {
	transition: transform .4s ease;
}
.card:hover {
	transform: scale(1.1);
}
.card:hover img {
	transform: scale(1.1);
}
.card img {
	height: 300px;
	max-height: 300px;
	width: 100%;
	background-size: cover;
	object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: transform .4s ease;
}
.card-head {
	overflow: hidden;
}
.blog-item a {
	background-color: var(--blog);
	border-color: var(--blog);
	border-radius: 0;
	margin-bottom: 0.5rem;
}
.blog-item a:active,
.blog-item a:hover {
	border-color: var(--blogdark)!important;
	background-color: var(--blogdark)!important;
}
i.subtitle {
	font-size: 1rem;
	position: relative;
	bottom: 0.1rem;
}
/*-- end blog container, index--*/

/*-- blog container, detail --*/
.article {
	background-color: var(--light);
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	padding: 1rem;
}
.heading-title {
	margin: 1rem 0;
}
h1.heading {
	font-size: 3.5rem;
	margin-bottom: 0.5rem;
	padding: 0;
}
i.larger {
	font-size: 1.1rem;
}
.cover-photo {
	width: 100%;
	max-width: 100%;
	padding-bottom: 1rem;
}
.post-subtitle {
	font-size: 1.2rem;
	padding-bottom: 1rem;
}
/*-- end blog container, detail --*/

/* this HTML content comes from post-[index].html */
/*-- post content --*/
.section {
	padding-bottom: 1rem;
}
.section img {
	max-width: 100%!important;
}
.attention {
	background-color: var(--highlight);
	border-radius: 0.5rem;
	padding: 1rem;
}
.success {
	background-color: var(--blog);
	border-radius: 0.5rem;
	padding: 1rem;
}
.danger {
	background-color: var(--danger);
	border-radius: 0.5rem;
	padding: 1rem;
}
.info {
	background-color: var(--info);
	border-radius: 0.5rem;
	padding: 1rem;
}
.code {
	font-family: 'IBM Plex Mono', monospace;
	background-color: var(--lightdark);
	border-radius: 0.5rem;
	padding: 1rem;
}
code {
	color: var(--dark);
}
a {
	text-decoration: none;
	color: var(--main);
}
a:hover,
a:active {
	text-decoration: none;
	color: var(--maindark);
}
/*-- end post content --*/

/*-- credits --*/
.credits p {
	padding-bottom: 0;
	margin-bottom: 0;
}
.credits a {
	color: var(--dark);
}
.credits a:hover,
.credits a:active {
	color: var(--dark);
	text-decoration: none;
}
/*-- end credits --*/

/* Devices under 768px (md) */
@media(max-width: 767px) {
	.narrow {
		width: 95%;
	}
	h1.heading {
		font-size: 2rem;
	}
}
