{% extends "blog_base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_content %}
<div class="container blog-container">
	<div class="narrow">
		<div class="os-animation" data-animation="fadeInUp">
			<h1>Blog</h1>
		</div>
	</div>
	<div class="row narrow">
		{% for blog in blogs %}
		<div class="blog-item col-12">
			<div class="os-animation" data-animation="fadeInUp">
				<div class="card mb-3" onclick="location.href='{% url 'blog_detail' blog.title|urlify:blog.article_number %}';" style="cursor:pointer;">
					<div class="card-head">
						<img class="card-img-top" src="{% static blog.cover %}" alt="{{ blog.title }} cover photo">
					</div>
					<div class="card-body">
						<h4 class="card-title">{{ blog.title }} | <i class="subtitle text-muted">{{ blog.subtitle }}</i></h4>
						<p class="card-text">{{ blog.blurb }}</p>
						<a class="btn btn-primary btn-md" href="{% url 'blog_detail' blog.title|urlify:blog.article_number %}">Read</a>
						<p class="card-text"><small class="text-muted">Published on {{ blog.published }}</small></p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
