{% extends "blog_base.html" %}
{% load static %}

{% block page_content %}
<meta property="og:title" content="iPhone" />
<meta property="og:image" content="{% static post.cover %}" />
<div class="container blog-container">
	<div class="os-animation" data-animation="fadeInUp">
		<div class="narrow article">
			<!-- header -->
			<div class="container-fluid heading-title">
				<div class="os-animation" data-animation="fadeInUp">
					<h1 class="heading">{{ post.title }}</h1>
					<i class="text-muted larger">{{ post.author }}</i>
					<br>
					<i class="text-muted">Published on {{ post.published }}</i>
				</div>
			</div>
			<!-- end header -->

			<!-- content -->
			<div class="os-animation" data-animation="fadeInUp">
				<div class="container-fluid cover-photo">
					<img class="cover-photo" src="{% static post.cover %}" alt="{{ post.title }} cover photo">
				</div>
				<div class="container-fluid text-center post-subtitle">
					<i class="lead">{{ post.subtitle }}</i>
				</div>
				<div class="container-fluid post-content">
					{% include post.content %}
				</div>
			</div>
			<!-- end content -->

			<!-- credits -->
			<div class="container-fluid credits">
				{% if cover_credit|length != 0 %}
				<div class="row">
					<p>Photo credit:&nbsp;</p>
					{% for author, link in cover_credit.items %}
					<a href="{{ link }}" target="_blank">{{ author }}&nbsp;</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			<!-- end credits -->
		</div>
	</div>
	<br><br>
</div>
{% endblock %}
