@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
{% load static %}

:root {
	--main: #e8a87c;
	--maindark: #B57549;

	--blog: #85dcbf;
	--blogdark: #52A98C;

	--dark: #2c3840;
	--darkdark: #00050D;

	--light: #feffff;
	--lightdark: #CBCCCC;
	
	--highlight: #ffe29d;
	--highlightdark: #ffcb51;

	--info: #D8EDF7;
	
	--danger: #F3DDDE;
}

/*uncomment this line for debugging*/
/*{ outline: solid 0.25rem hsla(210, 100%, 100%, 0.5); }*/

html {
	height:100%;
}

#loadingicon {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	background: url('willcarhartloading.svg') no-repeat center center;
	background-color: rgba(0,0,0,0);
}

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: var(--dark);
}

.offset:before {
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}

[class*="col-"] {
	padding: 1rem;
}

/*-- navigation --*/
.navbar {
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: background-color .5s ease 0s;
}
.navbar-brand {
	color: var(--light);
}
.svg-inline--fa.fa-w-14 {
	color: var(--light);
	font-size: 1.6rem;
}
#blog-nav-item {
	color: var(--blog);
}
.navbar-nav li {
	padding-right: .8rem;
}
.navbar-nav .nav-link {
	color: var(--light);
	padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: var(--main);
}
.navbar-brand:hover {
	color: var(--main);
}
.navbar.solid {
	background: rgba(0, 0, 0, 0.7)!important;
	transition: background-color 1s ease 0s;
}
/*-- end navigation --*/

/*-- landing page --*/
.home-inner {
	background-image: url('img/background.png');
	z-index: -1;
}
.home-wrap {
	background-color: rgba(0, 0, 0, 0.2);
}
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
}
.caption h1 {
	color: var(--light);
	font-size: 4.5rem;
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem var(--dark);
	padding-bottom: 1rem;
}
.caption h3 {
	color: var(--light);
	font-size: 2.5rem;
	font-family: 'Shadows Into Light', cursive;
	text-shadow: .1rem .1rem .5rem var(--dark);
	padding-bottom: 2rem;
}
.btn-lg {
	border-width: thin;
	border-radius: 0;
	padding: .8rem 1.5rem;
	font-size: 1.1rem;
	display: inline-block!important;
}
/*-- end landing page --*/

/*-- about --*/
.narrow {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}
.btn-sm {
	border-width: medium;
	border-radius: 0;
	padding: .5rem 1.1rem;
	font-size: .9rem;
	text-transform: uppercase;
	margin: 1rem;
}
.btn-color {
	border-color: var(--main);
	background-color: var(--main);
	color: var(--light);
}
.btn-color:hover,
.btn-color:focus {
	border-color: var(--maindark);
	background-color: var(--maindark);
	color: var(--light);
}
.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
	padding: 1rem 0 3rem;
}
h1.heading {
	font-size: 1.9rem;
	text-align: center;
	margin-bottom: 1.9rem;
}
.heading-underline {
	width: 3rem;
	height: .2rem;
	background-color: var(--main);
	margin: 0 auto 2rem;
}
.about {
	padding-bottom: 1.2rem;
}
/*-- end about --*/

/*-- skills --*/
.skill {
	text-align: center;
}
.skill .fa-layers {
	color: var(--main);
	height: 6rem;
	margin: 0 auto;
	width: 3.9rem;
}
.skill h3 {
	font-size: 1.3rem;
	padding-bottom: .4rem;
}
.skill p {
	font-size: 1.1rem;
}
/*-- end skills --*/

/*-- projects --*/
.row.padding {
	padding: 2rem 0 1rem;
}
img.example-image {
	max-width: 100%;
}
.row.no-padding [class*=col-] {
	padding: 0;
}
#proj-header {
	transition: transform .4s ease;
}
#proj-header a {
	text-decoration: none;
	color: var(--dark);
}
#proj-header:hover {
	transform: translate(1rem);
	text-decoration: underline!important;
}
#proj-header:hover > a {
	text-decoration: underline!important;
}
#proj-header .fa-long-arrow-alt-right {
	opacity: 0;
	transition: opacity .4s linear;
}
#proj-header:hover > .fa-long-arrow-alt-right {
	opacity: 1;
}
#proj-center {
	display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
}
.fa-long-arrow-alt-right {
	color: var(--dark)!important;
	font-size: 1.6rem;
}
.project-item img:hover {
	transform: scale(1.3);
}
.project-item img {
	transition: transform .4s ease;
}
.project-item {
	overflow: hidden;
}
/*-- lightbox project backgrounds --*/
#beaver-proj {
	background-color: #1ABC9C;
}
#locksmith-proj {
	background-color: #3498DB;
}
#othello-proj {
	background-color: #F1C40F;
}
#cheers-proj {
	background-color: #9B59B6;
}
#willcarhart-proj {
	background-color: #E74C3C;
}
#chordpanion-proj {
	background-color: #2ECC71;
}
#sudoku-proj {
	background-color: #E67E22;
}
#smoosh-proj {
	background-color: #34495E;
}
/*-- end lightbox project backgrounds --*/
/*-- end projects --*/

/*-- experience --*/
.experience-column {
	background-color: var(--light);
	padding: 2rem;
	border-top: .2rem solid var(--main);
	box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.075);
	transition: transform .7s ease;
}
.experience-column:hover {
	transform: scale(1.1);
}
.experience-column img {
	max-width: 100%;
}
.experience-column h3 {
	padding: 1rem;
	border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}
.experience-column p {
	opacity: 0.8;
	margin-top: 1.3rem;
}
.experience-column h4 {
	font-size: 1.1rem;
	padding: .4rem;
}
.experience-column .item {
	font-weight: 700;
}
.experience-column h1 {
	padding: .8rem 0;
}
/*-- end experience --*/

/*-- passions --*/
#fixed {
	background-image: url('img/background2.png');
	z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000!important;
}
.dark h1, .dark h3, .dark p {
  color: var(--light);
}
/*-- end passions --*/

/*-- contact --*/
footer {
	background-image: url('img/footer.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--light);
}
footer .row {
	background-color: rgba(57, 63, 70, 0.85);
	padding: 1rem 2rem 3rem;
}
footer h2 {
	height: 2rem;
	margin: 1.5rem 0;
}
footer a {
	color: var(--light);
}
footer a:hover,
footer a:focus,
footer a:active {
	color: var(--main)!important;
}
footer svg.svg-inline--fa {
	font-size: 1.1rem;
	margin: 1.2rem 1rem 0 0;
}
footer svg.svg-inline--fa:hover,
footer svg.svg-inline--fa:focus,
footer svg.svg-inline--fa:active {
	color: var(--main)!important;
}
/*-- contact form --*/
.form-group {
	margin-bottom: 1.3rem;
}
.form-control, .form-control:focus {
	background-color: var(--dark);
	border-radius: 0;
	border: 0.15rem solid #666b71;
	color: var(--light);
	font-size: 1.1rem;
}
#submit-row {
	padding: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
}
#spinner:hover,
#spinner:focus,
#spinner:active {
	color: var(--light)!important;
}
#sent-indicator {
	padding: 1.25rem 1rem 0 0;
	color: var(--blog);
	background-color: rgba(0, 0, 0, 0);
}
/*-- end contact form --*/
hr.socket {
	border-top: .2rem solid #666b71;
	width: 100%;
}
/*-- end contact --*/

/*-- media queries --*/
/* Devices under 992px (lg) */
@media(max-width: 991px) {
	.caption h1 {
		font-size: 3.5rem;
		letter-spacing: 0.2rem;
		padding-bottom: 0.8rem;
	}
	.caption h3 {
		font-size: 2.2rem;
		padding-bottom: 1.7rem;
	}
	.btn-lg {
		padding: 0.7rem 1.2rem;
		font-size: 1rem;
	}
	.narrow h1 {
		font-size: 2.1rem;
	}
}
/* Devices under 768px (md) */
@media(max-width: 767px) {
	.caption h1 {
		font-size: 2.7rem;
		letter-spacing: 0.15rem;
		padding-bottom: 0.5rem;
	}
	.caption h3 {
		font-size: 1.7rem;
		padding-bottom: 1.2rem;
	}
	.btn-lg {
		padding: 0.6rem 1.1rem;
		font-size: 1rem;
	}
	.narrow h1 {
		font-size: 1.8rem;
	}
	footer {
	background-image: url('img/footer-mobile.png');
	background-repeat: no-repeat;
	}
}
/* Devices under 576px (sm) */
@media(max-width: 575px) {
	.narrow {
		width: 85%;
	}
}
/*-- end media queries --*/

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
