@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
{% load static %}

:root {
	--main: #e8a87c;
	--maindark: #B57549;

	--blog: #85dcbf;
	--blogdark: #52A98C;

	--dark: #2c3840;
	--darkdark: #00050D;

	--light: #feffff;
	--lightdark: #CBCCCC;
	
	--highlight: #ffe29d;
	--highlightdark: #ffcb51;

	--info: #D8EDF7;
	
	--danger: #F3DDDE;
}

html {
	height:100%;
}

#loadingicon {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background: url('willcarhartloading.svg') no-repeat center center rgba(0,0,0,0.25);
	
}

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: var(--dark);
}
#content {
	padding-top: 4rem;
}

/*-- landing --*/
#landing {
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: url('img/footer.png');
	background-color: rgb(0, 0, 0, 0.2);
	height: 150%;
	z-index: -1;
}
/*-- end landing --*/

/*-- navigation --*/
.navbar {
	z-index: 9999;
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	background-color: rgba(0, 0, 0, 0.7);
}
.navbar-brand {
	color: var(--light);
}
.svg-inline--fa.fa-w-14 {
	color: var(--light);
	font-size: 1.6rem;
}
.navbar-nav li {
	padding-right: .8rem;
}
.navbar-nav .nav-link {
	color: var(--light);
	padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: var(--main);
}
.navbar-brand:hover {
	color: var(--main);
}
/*-- end navigation --*/

/*-- project container, index --*/
.projects-container h1 {
	padding: 2rem 0;
}
.project-item {
	padding-bottom: 2rem;
	transition: transform .4s ease;
}
.project-item:hover {
	transform: scale(1.1);
}
.project-item a {
	background-color: var(--main);
	border-color: var(--main);
	border-radius: 0;
}
.project-item a:active,
.project-item a:hover {
	border-color: var(--maindark)!important;
	background-color: var(--maindark)!important;
}
/*-- end project container, index--*/

/*-- project container, detail --*/
.narrow {
	width: 75%;
	margin: 0 auto;
}
h1.heading {
	font-size: 3.5rem;
	padding: 2rem 0;
}
.blurb {
	font-size: 1.5rem;
	font-weight: 300;
	padding: 0.5rem 0 1.1rem;
}
.btn-primary {
	font-size: 1.3rem;
	border-radius: 0;
	margin: 0.5rem;
	background-color: var(--main);
	border-color: var(--main);
}
.btn-primary:hover,
.btn-primary:active {
	border-color: var(--maindark)!important;
	background-color: var(--maindark)!important;
}
/*-- end project container, detail --*/

/*-- demo --*/
.demo {
	margin: 1rem 0;
}
.demo h2 {
	font-size: 2rem;
}
.demo-content {
	padding: 2rem;
	background-color: var(--light);
}
/*-- end demo --*/

/* this HTML content comes from [project].html */
/*-- demo ~ content --*/
.section {
	padding-bottom: 1rem;
}
.last {
	padding-bottom: 0;
	margin-bottom: 0;
}
.attention {
	background-color: var(--highlight);
	border-radius: 0.5rem;
	padding: 1rem;
}
.success {
	background-color: var(--blog);
	border-radius: 0.5rem;
	padding: 1rem;
}
.danger {
	background-color: var(--danger);
	border-radius: 0.5rem;
	padding: 1rem;
}
.info {
	background-color: var(--info);
	border-radius: 0.5rem;
	padding: 1rem;
}
.code {
	font-family: 'IBM Plex Mono', monospace;
	background-color: var(--lightdark);
	border-radius: 0.5rem;
	padding: 1rem;
	white-space: pre-wrap;
}
code {
	color: var(--dark);
}
a {
	text-decoration: none;
	color: var(--main);
}
a:hover,
a:active {
	text-decoration: none;
	color: var(--maindark);
}
.media {
	max-height: 500px;
	max-width: 100%;
}
.red {
	color: red;
}
.green {
	color: green;
}
.grey {
	color: grey;
}
.blue {
	color: blue;
}
.yellow {
	color: yellow;
}
.teal {
	color: teal;
}
.pink {
	color: pink;
}
.white {
	color: white;
}
/*-- end demo ~ content --*/

/* Devices under 576px (sm) */
@media(max-width: 575px) {
	.code {
	white-space: nowrap;
	}
}
