<div class="contents">
	<div class="section">
		<h2>A New Home</h2>
		<p class="lead">I'm very excited to announce the launch of my latest personal project: <a href="{% url 'home' %}"><i>willcarh.art</i></a></p>
	</div>
	<div class="section" align="center">
		<img src="https://media.giphy.com/media/rl0FOxdz7CcxO/giphy.gif" alt="gif of someone celebrating, with text 'It's happening'">
	</div>
	<div class="section">
		<p class="lead">I think for most people, coding can seem like a foreign language, an abstract dialect in which eclectic individuals speak to computers - and they're not entirely wrong. Taking some green text on a terminal screen and converting it to websites and mobile applications is the black magic of the modern age. And that's exactly why I love it.</p>
	</div>
	<div class="section">
		<p class="lead">Writing software is one of my passions. I think it's creative, expressive, and fun. Want to make a website about <a href="https://cat-bounce.com/" target="_blank">bouncing cats?</a> Go right ahead. Want to make an iPhone app that <a href="https://itunes.apple.com/us/app/da-daily-compliment/id711717136?mt=8" target="_blank">gives you a daily compliment?</a> Be my guest. Yes, these are silly examples, but the point is writing software can be a hobby, too. And, for most developers, I think it is.</p>
	</div>
	<div class="section">
		<p class="lead">I've wanted to build a personal website for a while. As much as I hate to admit it, most <i>average</i> people don't get too excited about CLIs. I'm sure every developer at some point has spent weeks on a cool command line utility, only to have the uninitiated proclaim <i>that's it?</i> So, I decided to build willcarh.art, <b>the world's greatest personal website</b>, per me. And, as an aspiring Pythonista, I wrote it in Python.</p>
	</div>
	<div class="section">
		<p class="lead">So, without further ado, please explore and enjoy! Read about some of my <a href="{% url 'project_index' %}">projects</a>, or check out some of my other <a href="{% url 'blog_index' %}">blog posts</a> (more coming soon). You can also learn more about <a href="{% url 'project_detail' 'willcarh.art' %}">how the website works</a>. Feel free to <a href="{% url 'home' %}#contact">drop me a note</a> if you have any questions!</p>
	</div>
	<div class="section">
		<p class="lead">🦉</p>
	</div>
</div>