<div class="contents">
	<div class="section">
		<div class="info"><b>News Flash!</b><br>The content and lessons learned from this blog post are a product of my most recent project, <a href="https://www.soliloquy.dev" target="_blank">Soliloquy</a>, which I made to promote what I call <i>software-as-a-hobby</i>. If you haven't checked it out yet, I <i>highly</i> recommend it!</div>
	</div>
	<div class="section"></div>
	<div class="section">
		<h2>Let's get chatty!</h2>
	</div>
	<div class="section">
		<h2>Utilizing the GitHub API</h2>
	</div>
	<div class="section">
		<h2>Integrating with Travis CI</h2>
	</div>
	<div class="section">
		<h2>Using Python to glue everything together</h2>
	</div>
	<div class="section">
		<h2>Closing notes</h2>
	</div>
</div>