{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_content %}
<div class="container projects-container">
	<h1>Projects</h1>
	<div class="row">
		{% for project in projects %}
		<div class="project-item col-md-4">
			<div class="os-animation" data-animation="fadeInUp" data-delay="{{ forloop.counter|multiply:0.1 }}s">
				<div class="card mb-2">
					<img class="card-img-top" src="{% static project.cover %}" style="background-color: {{ project.color }};">
					<div class="card-body">
						<h5 class="card-title">{{ project.title }}</h5>
						<p class="card-text">{{ project.blurb }}</p>
						<a href="{% url 'project_detail' project.title %}" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
