{% extends "base.html" %}
{% load static %}

{% block page_content %}
<meta property="og:title" content="{{ project.title }}" />
<meta property="og:image" content="{% static project.cover %}" />
<meta property="og:description" content="{{ project.blurb }}">
<meta name="twitter:card" value="{{ project.blurb }}">
<div class="project-detail narrow">
	<!-- heading -->
	<div class="os-animation" data-animation="fadeInUp">
		<h1 class="heading">{{ project.title }}</h1>
	</div>
	<!-- end heading -->

	<!-- content -->
	<div class="row">
		<div class="col-lg-7 col-md-12">
			<div class="os-animation" data-animation="fadeInLeft">
				<div style="background-color: {{ project.color }}">
					<img src="{% static project.cover %}" alt="Project image" width="100%">
				</div>
			</div>
		</div>
		<div class="col-lg-5 col-md-12">
			<div class="os-animation" data-animation="fadeInRight">
				<p class="lead blurb"><i>{{ project.blurb }}</i></p>
				<h3>About the project:</h3>
				{% for section in description_sections %}
					{% autoescape off %}
					<p>{{ section }}</p>
					{% endautoescape %}
				{% endfor %}
				<br>
				<h3>Technology used:</h3>
				<p>{{ project.technology }}</p>
				{% if not github == '' %}
					<a class="btn btn-primary btn-md" href="{{ github }}" target="_blank">View on GitHub <i class="fab fa-github" data-fa-transform="right-2"></i></a>
				{% endif %}
				{% if not pypi == '' %}
					<a class="btn btn-primary btn-md" href="{{ pypi }}" target="_blank">View on PyPI <i class="fab fa-python" data-fa-transform="shrink-4 down-1 right-1"></i></a>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- end content -->

	<!-- demo -->
	<div class="demo">
		<div class="demo-content os-animation" data-animation="fadeInUp">
			<h2>Demo</h2>
			{% include project.democontent %}
		</div>
	</div>
	<!-- end demo -->

</div>
{% endblock %}