{% extends "base.html" %}
{% load static %}
{% load projects_filters %}

{% block page_content %}
<div class="container projects-container">
	<div class="os-animation" data-animation="fadeInUp">
		<h1>Projects</h1>
	</div>
	<div class="row">
		{% for project in projects %}
		<div class="project-item col-md-4">
			{% with forloop.counter|mod:3 as proj_index %}
			<div class="os-animation" data-animation="fadeInUp" data-delay="{{ proj_index|multiply:0.1 }}s">
				<div class="card mb-2" onclick="location.href='{% url 'project_detail' project.title %}';" style="cursor:pointer;">
					<img class="card-img-top" src="{% static project.cover %}" style="background-color: {{ project.color }};">
					<div class="card-body">
						<h5 class="card-title">{{ project.title }}</h5>
						<p class="card-text">{{ project.blurb }}</p>
						<a href="{% url 'project_detail' project.title %}" class="btn btn-primary">Read More</a>
					</div>
				</div>
			</div>
			{% endwith %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
