<div class="content">
	<div class="section">
		<p class="lead">Despicable is a lightweight framework written in Python for multithreading shell commands
	</div>
	<div class="section">
		<h4>Usage</h4>
		<p class="lead">Despicable can take commands from either the command line:</p>
		<pre class="code">python despicable.py -c "cmd0" "cmd1" "cmd2"</pre>
		<p class="lead">Or from a file:</p>
		<pre class="code">python despicable.py -f command_list.txt</pre>
		<p class="lead">Despicable then draws a nice UI on the terminal:</p>
		<pre class="code">$ python despicable.py -f command_list.txt<br>[>>>>>>>>>>>>>>>               ] 50% (Processing)<br> \ 2 tasks remaining</pre>
	</div>
	<div class="section">
		<h4>Example</h4>
		<p class="lead">Suppose you wanted to parallelize the following tasks:</p>
		<pre class="code">cp /source/largefile.csv /destination/<br>bzip2 -z data.txt<br>scp big_file.json username@remotehost.edu:/some/remote/directory<br>aws s3 cp /tmp/foo/ s3://bucket/ --recursive --exclude "*" --include "*.jpg"</pre>
		<p class="lead">If these commands were in the <code>Despicablefile</code> (default file for commands), you could run it like so</p>
		<pre class="code">$ python despicable.py<br>[>>>>>>>>>>>>>>>               ] 50% (Processing)<br> \ 2 tasks remaining</pre>
	</div>
</div>