{% load static %}
<div class="content">
	<div class="section">
		<p class="lead">NASA APOD is a simple iOS app that takes the NASA Astronomy Picture of the Day and displays it in app.
	</div>
	<div class="section">
		<div class="row">
			<div class="col-lg-4">
				<div class="section" align="center">
					<img class="media" src="{% static 'nasa_apod_1.png' %}" alt="NASA APOD demo 1">
				</div>
			</div>
			<div class="col-lg-8">
				<div class="section">
					<h4>Endless Possibilities</h4>
					<p class="lead">Choose an APoD for any day between June 16th, 1995, when NASA started the program, and today.</p>
					<p class="lead">Media can range from pictures of planets, telescopes, stars, comets, and so much more!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="row">
			<div class="col-lg-8">
				<div class="section">
					<h4>Spectacular Space</h4>
					<p class="lead">Get jaw-dropping images right to your phone on a daily basis. If NASA's blurb about the photo isn't enough for you, you can always tap on the image to go to NASA's website and learn more!</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="section" align="center">
					<img class="media" src="{% static 'nasa_apod_2.png' %}" alt="NASA APOD demo 1">
				</div>
			</div>
		</div>
	</div>
</div>