<div class="content">
	<div class="section">
		<p class="lead"><a href="https://www.soliloquy.dev" target="_target">Soliloquy</a> is deployed over at <a href="https://www.soliloquy.dev" target="_blank">www.soliloquy.dev</a>. Head on over there to get a live demo of Soliloquy!</p>
	</div>
	<div class="section">
		<p class="lead">If you'd like to learn more about <a href="https://www.soliloquy.dev" target="_blank">Soliloquy's</a> automated PR chatbot, the <a href="https://github.com/friendly-committer" target="_blank">Friendly Committer</a>, take a look at the related <a href="{% url 'blog_detail' 'Building-Chatbots-for-GitHub' %}">blog post</a>, or read some of it's <a href="https://github.com/wcarhart/Soliloquy/blob/master/scripts/validate_content.py" target="_blank">source code</a>.</p>
	</div>
	<div class="section">
		<p class="lead">Soliloquy was born out of a passion for creating software without the explicit purpose of it being sold as a product. If you'd like to add one of your projects to Soliloquy, please do! <a href="https://github.com/wcarhart/Soliloquy#instructions-for-contributing" target="_blank">Here are the instructions for contributing</a>.</p>
	</div>
</div>