<div class="content">
	<div class="section">
		<p class="lead">If you'd like to see a demo of willcarh.art, just look around 😉</p>
	</div>
	<div class="section">
		<h4>Key Features</h4>
		<b>Full stack excellency</b>
		<p class="lead">Despite seeming like a few simple web pages, willcarh.art is a full-stack web app. The three separate apps are: home, projects, and blog.</p>
		<b>Django under the hood</b>
		<p class="lead">Being a bit of a Pythonista, I wrote the backend for willcarh.art in Python using the Django framework. This makes it easy to abstract the front- and back-ends from each other.</p>
		<b>Putting the micro in microservices</b>
		<p class="lead">There are many chores to be done with running a website. That's why willcarh.art outsources some of its tasks to its microservices. These services include:</p>
		<ul>
			<li>The Scribe (writes to the database)</li>
			<li>The Herald (sends emails)</li>
			<li>The <a href="{% url 'project_detail' 'locksmith' %}">Locksmith</a> (encrypts secrets)</li>
			<li>The Maid (cleans the database)</li>
			<li>The Chronicler (updates the manifest)</li>
		</ul>
		<p class="lead">All written in Python by yours truly! Checkout their code and read more about them <a href="https://github.com/wcarhart/willcarh.art#utilities" target="_blank">here</a>.</p>
	</div>
</div>