@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
	--main: #e8a87c;
	--maindark: #B57549;

	--blog: #85dcbf;
	--blogdark: #52A98C;

	--dark: #2c3840;
	--darkdark: #00050D;

	--light: #feffff;
	--lightdark: #CBCCCC;
	
	--highlight: #ffe29d;
	--highlightdark: #ffcb51;

	--info: #D8EDF7;
	
	--danger: #F3DDDE;
}

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: var(--dark);
	padding-top: 4rem;
}

/*-- navigation --*/
.navbar {
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	background-color: rgba(0, 0, 0, 0.7);
}
.navbar-brand {
	color: var(--light);
}
.navbar-brand:hover {
	color: var(--main);
}
/*-- end navigation --*/

/*-- page content --*/
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
}
.caption h1 {
	color: var(--light);
	font-size: 4.5rem;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem var(--dark);
	padding-bottom: 1rem;
}
.caption h3 {
	color: var(--light);
	font-size: 2.5rem;
	text-shadow: .1rem .1rem .5rem var(--dark);
	padding-bottom: 2rem;
}
.btn-lg {
	border-width: thin;
	border-radius: 0;
	padding: .8rem 1.5rem;
	font-size: 1.1rem;
	display: inline-block!important;
	border-color: var(--main);
	background-color: var(--main);
	color: var(--light);
	margin: 0 1rem;
}
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
	border-color: var(--maindark)!important;
	background-color: var(--maindark)!important;
}
/*-- end page content --*/
